*{
    margin: 0;
    padding: 0;
    font-family: math;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}

.container{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border-radius: 2rem;
    width: 600px;
    height: 550px;
    padding: 2rem;
}

.container h1{
    text-align: center;
    font-weight: 2000;
    font-size: xxx-large;
}

.container p{
    font-weight: 800;
    font-size: 28px;
}

form{
    margin: 2rem 0 0rem 0;
}

form select,button,input{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-family: math;
    font-weight: 700;
    font-size: x-large;
    display: flex;
}

form button{
    width: 50%;
    height: 60px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: center;
    line-height: 70px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    transform: translate(150px,20px);
    border: #000000 2px solid;
}

img{
    width: 100px;
    height: 100px;
    transform: translate(50px,-10px);
   
}

input,select{
    text-align: center;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-container{
    height: 200px;
    width: 200px;
}

.dropdown i{
    font-size: x-large;
}

.msg{
    width: 100%;
    height: 70px;
    font-size: 23px;
    text-align: center;
    color:brown;
    font-weight: 900;
}

.amount {
    height: 70px;
    display: flex;
    justify-content:space-between;
}